loadfont unicode
set gfxmode=800x600
set gfxpayload=keep
insmod all_video
insmod gfxterm
insmod png
terminal_output gfxterm
background_image /plasma_boot/splash.png

menuentry 'Boot from local disk' {
	exit
}

menuentry 'Archlinux' {
	configfile plasma_boot/archlinux/grub.cfg
}
menuentry 'Memdisk' {
	configfile plasma_boot/memtest/grub.cfg
}
menuentry 'Debian' {
	configfile plasma_boot/debian/grub.cfg
}
menuentry 'Kali' {
	configfile plasma_boot/kali/grub.cfg
}
menuentry 'Ubuntu' {
	configfile plasma_boot/ubuntu/grub.cfg
}
